div.tick_div {
	display: inline-block;
	border: 1px solid #000000;
	padding: 2px;
	margin: 2px;
	vertical-align: top;
}

div.tick_row {
	display: block;
}

button.tick_square64 {
	display: inline-block;
	margin: 2px;
	padding: 2px;
	width: 64px;
	height: 64px;
}

span.tick_penalty {
	width: 64px;
	height: 64px;
	display: block;
	font-size: 40pt;
	text-align: center;
	vertical-align: center;
}

span.tick_offPenalty {
	color: #ff0000;
}

span.tick_defPenalty {
	color: #0000ff;
}

span.tick_actionTick {
	display: block;
	font-size: 80pt;
	height: 128px;
	width: 128px;
	text-align: center;
	vertical-align: center;
}

span.tick_actionName {
	display: block;
	width: 128px;
	text-align: center;
}