body {
	width: 800px;
}

div.tick_div {
	display: inline-block;
	border: 1px solid #000000;
	padding: 2px;
	margin: 2px;
	vertical-align: top;
}

div.tick_row {
	display: block;
	width: 100%;
}

button.tick_fullwidth {
	display: inline-block;
	width: 100%;
}

button.tick_squareBig {
	display: inline;
	float: left;
	margin: 5px;
	padding: 5px;
	width: 70px;
	height: 70px;
}

span.tick_penalty_label {
	margin: 0px;
	padding: 0px;
	width: 64px;
	display: block;
	font-size: 10pt;
	text-align: center;
}

span.tick_penalty {
	margin: 0px;
	padding: 0px;
	width: 64px;
	height: 64px;
	display: block;
	font-size: 44pt;
	text-align: center;
	vertical-align: center;
}

span.tick_offPenalty {
	color: #ff0000;
}

span.tick_defPenalty {
	color: #0000ff;
}

span.tick_actionTick {
	display: block;
	font-size: 80pt;
	height: 128px;
	width: 128px;
	text-align: center;
	vertical-align: center;
}

span.tick_actionName {
	display: block;
	width: 128px;
	text-align: center;
}

label.tick_label {
	display: inline-block;
	width: 100px;
	text-align: right;
}

input.tick_input {
	margin-left: 5px;
	width: 50px;
}